<events>
    <event>
        <name>Tomcat Status</name>
        <summary>Tomcat Status</summary>
        <comment>Event for tomcat status</comment>
        <path>/home/satish/AppDynamics/Code/extensions/event-publisher-extension/src/main/resources/config/scripts/script.sh</path>
        <outputs>
            <output>
                <exitCode>0</exitCode>
                <status>Down</status>
            </output>
            <output>
                <exitCode>1</exitCode>
                <status>Up</status>
            </output>
        </outputs>
        <arguments/>
        <!--Number of seconds to wait to execute the script periodically -->
        <period>60</period>
        <!-- Number of seconds to wait before force killing this script. If not specified or is more than period then assumes the value specified in period.-->
        <max-wait-time>5</max-wait-time>
    </event>
</events>